@tailwind base;
@tailwind components;
@tailwind utilities;
/* --------------------------------------------------------------- */
@layer base{
    @font-face {
        font-family: 'Vazir-Bold';
        src: url('F:\my rezome\my sites\pro_film\pictures\vazir-font-v16.1.0\Vazir-Bold.ttf') format(TreueType);
    }
    @font-face {
        font-family: 'Vazir-Light';
        src: url('F:\my rezome\my sites\pro_film\pictures\vazir-font-v16.1.0\Vazir-Light.ttf') format(TreueType);
    }
}
/* ------------------------------------------------------------ */
@layer components{
    .btn {
        font-size: 1.2rem;
        padding: 1rem 2.5rem;
        border: none;
        outline: none;
        border-radius: 0.4rem;
        cursor: pointer;
        text-transform: uppercase;
        background-color: rgb(14, 14, 26);
        color: rgb(234, 234, 234);
        font-weight: 700;
        transition: 0.6s !important;
        box-shadow: 0px 0px 60px #1f4c65;
        -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
        -webkit-border-radius: 0.4rem;
        -moz-border-radius: 0.4rem;
        -ms-border-radius: 0.4rem;
        -o-border-radius: 0.4rem;
        -webkit-transition: 0.6s !important;
        -moz-transition: 0.6s !important;
        -ms-transition: 0.6s !important;
        -o-transition: 0.6s !important;
    }
    .btn:active {
        scale: 0.92;
    }
    .btn:hover {
        background: rgb(2,29,78);
        background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
        color: rgb(4, 4, 38);
    }
    .px_video{
        padding-right:150px;
        padding-left:150px;
    }
    .card:hover{
        background: rgba(6, 6, 15 , 0.75);
        backdrop: blur(9px);
        border-width: 2px;
        border-color: rgb(121, 188, 194);
    }

}
/* ------------------------------------------------------- */